body {
	background: silver;
	font: 14px 'trebuchet ms', arial, sans-serif;
	margin-left: 60px;
	margin-right: 60px;
}header {
	padding: 20px;
	background: #12407f;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid #436fac;
	margin-top: 15px;
}

#content {
	background: #fff;
	padding: 20px;
}

footer {
	background: #12407f;
	color: #fff;
	padding: 20px;
	border-top: 4px solid #436fac;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 15px;
}

/* Links */
header a {
	color: #fff;
	background: #436fac;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

footer a {
	color: #fff;
	background: #436fac;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

header a:hover {
	background: #4d8add
}

a:hover {
	text-decoration: none; 
}

subscript {
	font-size: .8em;
	text-decoration: none;
}

#page {
 	display:none;
 	max-width:1060px;
 	height:100%;
 	border:0px;
 	padding:0px;
 	margin:0 auto;
 	position:relative;
}

#prepage {
	width: 276px;
	height: 130px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	background-color:white;
	border: 1px black solid;
	padding:10px;
}

#pptxt {
	text-align:center;
	font-weight:bold;
}

div#menu {
	width:100%;
	margin: auto;
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	-webkit-break-before: column;
}

div#menu > div {
	margin:3px;
	margin-bottom:20px;
	border-style:solid;
	padding:15px;
	border-width:1px;
	border-color:blue;
}

div#menu > div > ul > li > a {
	text-decoration:none;
}
/*
.tab {
	display:inline-block;
	width:250px;
	background:gray;
	border: 1px solid black;
	margin : 0;
	padding: 0;
}

.tab > h3 {
	padding-left:10px;
}

.tabcontent {
	width:754px;
	background:gray;
	border-width: 0 1px 1px 1px;
	border-color : black;
	border-style: solid;
	margin : 0;
	padding : 0;
}

.panel {
	padding : 10px;
}

.activetab {
	border-bottom-color: gray;
}
*/
.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

hr {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

div#actions > div > div > input{
	margin-right:5px;
}

div#actions > div {
	display : inline-block;
	width : 48%;
	text-align : left;
	vertical-align : top;
}